<h1>Listing upvotes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Fotosector</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @upvotes.each do |upvote| %>
  <tr>
    <td><%= upvote.user_id %></td>
    <td><%= upvote.fotosector_id %></td>
    <td><%= link_to 'Show', upvote %></td>
    <td><%= link_to 'Edit', edit_upvote_path(upvote) %></td>
    <td><%= link_to 'Destroy', upvote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upvote', new_upvote_path %>
