<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @upvote.user_id %>
</p>

<p>
  <b>Fotosector:</b>
  <%= @upvote.fotosector_id %>
</p>


<%= link_to 'Edit', edit_upvote_path(@upvote) %> |
<%= link_to 'Back', upvotes_path %>
