<h1>Listing lugars</h1>

<table>
  <tr>
    <th>Descritivo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lugars.each do |lugar| %>
  <tr>
    <td><%= lugar.descritivo %></td>
    <td><%= link_to 'Show', lugar %></td>
    <td><%= link_to 'Edit', edit_lugar_path(lugar) %></td>
    <td><%= link_to 'Destroy', lugar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lugar', new_lugar_path %>
