<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<script>         
  function setBodyId() {
    if(document.getElementById('edit1').value.length == 0)
      document.getElementById('buttons2').disabled = true;
    else
      document.getElementById('buttons2').disabled = false;

    if(document.getElementById('edit2').value.length == 0)
      document.getElementById('buttons2').disabled = true;
    else
      document.getElementById('buttons2').disabled = false;
  }  
  window.onload = setBodyId;
</script>

<script>  
  $({someValue: 0}).animate({someValue: <%= Comentario.where(["user_id = ?", current_user.id]).count %>}, {
    duration: 800,
      easing:'swing', // can be anything
      step: function() { // called on every step
          // Update the element's text with rounded-up value:
          $('#comment_count').text(commaSeparateNumber(Math.round(this.someValue)));
        }
      });

  function commaSeparateNumber(val){
    while (/(\d+)(\d{3})/.test(val.toString())){
      val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }
    return val;
  }
</script>

<div id="profile_page">
  <%= image_tag("avatar.png", width:"23%", height:"auto", :class => "profile_image") %>
  <div class="head">
    <%  if admin? %>
    <h1>Administrator</h1>
    <% else %>
    <h1><%= current_user.name %></h1>
    <% end %>
  </div>
  <div class="vcard" id="vcard">
    <table>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <tr>
        <td class="identifier_top">Email:</td>
        <td class="editable"> <a id = "change_field1"><%= current_user.email %></a>
         <%= f.email_field :email, autofocus: true,:class => 'css-input',:id => 'edit1',:placeholder => 'new email', :onchange => 'setBodyId()' %>
       </tr>
       <tr>
        <td class="identifier">Password:</td>
        <td class="editable"> <a id ="change_field2">*********</a>
         <%= f.password_field :password, autocomplete: "off",:class => 'css-input',:id => 'edit2',:placeholder => 'new password', :onchange => 'setBodyId()',:onkeyup => 'checkPass2()' %>
       </tr>
       <tr id="edit2">
         <td class="identifier">Confirm Password:</td>
         <td class="editable"><%= f.password_field :password_confirmation, autocomplete: "off",:class => 'css-input', :placeholder=> 'confirm password',:id => 'edit2_c',:onkeyup => 'checkPass2()' %></td>
       </tr>
       <tr id="confirmp">
         <td class="identifier">Current Password:</td>
         <td >  <%= f.password_field :current_password, autocomplete: "off",:class => 'css-input', :placeholder=> 'required' %></td>
       </tr>
       <tr>  
        <td class="identifier_bottom">Nº of comments:</td>
        <td class="editable" id="comment_count"></td>   
      </tr>
      <tr  id="confirmp">  
        <td  class="identifier_bottom"></td>
        <td><%= f.submit "Edit", :class => 'btn_send', :id => 'buttons2' %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), root_path %>