<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), root_path %>

<script>         
	function setBodyId() {
		if(document.getElementById('email_r').value.length == 0)
			document.getElementById('registrationdone').disabled = true;
		else
			document.getElementById('registrationdone').disabled = false;

		if(document.getElementById('password_r').value.length == 0)
			document.getElementById('registrationdone').disabled = true;
		else
			document.getElementById('registrationdone').disabled = false;
	}  
	window.onload = setBodyId;
</script>

<div id="card">

	<h2>Sign up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<div>
		<%= f.text_field :name , :type => 'text', placeholder: "Name", autofocus: true,id: "rime"  %></div>
	<div>
		<%= f.email_field :email, :type => 'text', placeholder: "Email", :pattern => '^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$', id: "email_r", :onchange => 'setBodyId()'  %></div>

		<div><br />
			<%= f.password_field :password, autocomplete: "off", :type => 'password', placeholder: "Password" , id: "password_r" , :onkeyup => 'checkPass()', :onchange => 'setBodyId()', :pattern => '{8,30}' %>
		</div>
		<div><% if @validatable %><br />	
			<%= f.password_field :password_confirmation, autocomplete: "off" , :type => 'password', placeholder: "Confirm Password", id: "password_r1" , :onkeyup => 'checkPass()' %>
			<i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
		</div>

		<div><%= f.submit "Sign up" , :type => 'submit', :id => 'registrationdone' %></div>
		<% end %>
	</div>
