<% if remotipart_submitted? %>
  $('#showallcomments').append("<div id=eachcomment><div id=showcommentphoto><a href=../../assets/images/<%=@comentario.id%>.jpg target=_blank><img alt=<%=@comentario.id%> src=/assets/<%=@comentario.fotopath%>></a></div><span id=showcommentuser><%= User.find(@comentario.user_id).name %><span id=showcommentdate><%= @comentario.created_at.to_time.strftime(' %B %Y %e at %l:%M %p') %></span></span><div id = del_icon><a href=/comentarios/del_comentario?id_c=<%=@comentario.id%>><img alt=Del_icon height=auto src=/assets/del_icon.png width=20%></a></div><div id=showcommenttext><%= @comentario.corpo %></div><br /></div>");
<% else %>
  $('#showallcomments').append("<div id=eachcomment><span id=showcommentuser><%= User.find(@comentario.user_id).name %><span id=showcommentdate><%= @comentario.created_at.to_time.strftime(' %B %Y %e at %l:%M %p') %></span></span><div id = del_icon><a href=/comentarios/del_comentario?id_c=<%=@comentario.id%>><img alt=Del_icon height=auto src=/assets/del_icon.png width=20%></a></div><div id=showcommenttext><%= @comentario.corpo %></div><br /></div>");
<% end %>

