<h1 id="titlecom">Comments - <%= @sector_id %></h1> 
<script>
$(window).bind('scroll', function() {
 if ($(window).scrollTop() > 50) {
  $('#commentbar').addClass('fixed');
}
else {
 $('#commentbar').removeClass('fixed');
}
});

function setBodyId() {
  document.body.id = 'comment';
}

window.onload = setBodyId;
</script>

<div id = "rating" >
<% @commented = 0 %>
<% @upvotes.each do |upvote| %>
	
	<% if upvote.user_id == current_user.id && upvote.fotosector_id == @fotosector_id.to_f %>
		<% @commented = 1 %>
		<% break %>
	<% else %>
		<% @commented = 0 %>
	<%end %>
<%end %>


<% if @commented == 0 %>
		<%= link_to image_tag("upvote.png", width:"30%", height:"auto") , {:action => "rating_display", :controller => "comentarios", :id_sec =>@fotosector_id } %>
		<% @commented = 1 %>
<% else %>
		<%= link_to image_tag("downvote.png", width:"30%", height:"auto") , {:action => "downvote", :controller => "comentarios", :id_sec =>@fotosector_id, :id_user => current_user.id}%>
		<% @commented = 0 %>
<%end%>

<%= image_tag("rating_nr.png", width:"50%", height:"auto",  id:"rating_img") %>

<div id= "rating_text"> <%= Fotosector.find(@fotosector_id).rating %> </div>

</div>

<div id="showallcomments">

  <% @comentarios.each do |comentario| %>
  <% if comentario.fotosector_id == @fotosector_id.to_f && comentario.sector_id == @sector_id.to_f %>

  <div id="eachcomment">

    <% if comentario.fotopath != nil %>
    <div id="showcommentphoto">
      <%= link_to(image_tag(comentario.fotopath),"../../assets/images/"+comentario.fotopath, :target => "_blank") %>
    </div>
    <% end %>

    <span id="showcommentuser">
      <%= User.find(comentario.user_id).name %>
      <span id="showcommentdate"><%= comentario.created_at.to_time.strftime('%B %Y %e at %l:%M %p') %></span>
    </span>

    <% if admin? %>
    <div  id = "del_icon"> <%= link_to image_tag("del_icon.png", width:"20%", height:"auto") , {:action => "del_comentario", :controller => "comentarios", :id_c =>comentario.id}%>
    </div>
    <%end%>
    
    <% if !admin? %>
      <% if current_user.id == User.find(comentario.user_id).id %>
        <div id = "del_icon"> <%= link_to image_tag("del_icon.png", width:"20%", height:"auto") , {:action => "del_comentario", :controller => "comentarios", :id_c =>comentario.id}%>
        </div>
      <%end%>
    <%end%>

    <div id="showcommenttext">
      <%= comentario.corpo %>
    </div>

    <br />
  </div >

  <% end %>
  <% end %>
</div>
</table>


<div id="commentbar">
  <%= form_for @comentario, :multipart => true, :remote => true  do |f| %>
  <span class="field">
    <%= f.text_area :corpo, :id => 'commenttext'  %>
    <%= f.submit "Comment", :id => 'commentbot' %>
    <%= file_field_tag  :file, :id => 'uploadimagecomment' %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :fotosector_id, :value => @fotosector_id %>
    <%= f.hidden_field :sector_id, :value => @sector_id %>
  </span>
  <% end %>
</div>