<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), {:action => "general", :controller => "admin"} %>

<script>
	function setBodyId() {
		document.body.id = 'bodyadmin';
	}           
	window.onpageshow = setBodyId;
</script>

<div class="head_2">
	<h1>Add Event to Venue</h1>
	<div class="edit_photo">	
		<%= form_for(@evento) do |f| %>

		<div class="select">
			<p>Select the Venue</p>	
			<%= f.collection_select(:recinto_id, Recinto.order(:nome), :id, :nome,
			{:prompt   => "Select a Venue"}, {:id => 'venue_select'}) %>
		</div>
		<div class="select">
			<p class="p3a">Name</p>	
			<%= f.text_field :title %>
		</div>
		<div class="select">
			<p class="p1a">URL of Event</p>	
			<%= f.text_field :url %>
		</div>

		<div class="select">
			<p class="p2a">Date</p>	
			<%= f.text_field :date, {:id => 'datetimepicker'} %>
		</div>
		<div class="actions">
			<%= f.submit "Create", :id => 'addevento' %>
		</div>
		<% end %>
		<div class = "select">
			<%= link_to 'Do you want do delete an event instead?', {:action => "destroy", :controller => "admin"}, id:'destroyevent'  %>
		</div>
	</div>
</div>