<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), {:action => "addEvento", :controller => "admin"} %>

<script>
	function setBodyId() {
		document.body.id = 'bodyadmin';
	}           
	window.onpageshow = setBodyId;
</script>

<div class="head_2">
	<h1>Delete an Event</h1>
	<div class="edit_photo delete">	
		<table>
			<tr>
				<th>Nome</th>
				<th>Data</th>
				<th>Recinto</th>
				<th>Delete</th>
			</tr>

			<% @eventos.each do |evento| %>
			<% if @datetoday > evento.date %>
			<% else %>
			<tr>
				<td><%= evento.title %></td>
				<td><%= evento.date %></td>
				<td><%= Recinto.find(evento.recinto_id).nome %></td>
				<td><%= link_to '✖', evento, method: :delete, data: { confirm: 'Are you sure?' },id: 'xmark' %></td>
			</tr>
			<% end %>
			<% end %>
		</table>
	</div>
</div>