<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), root_path %>

<%= link_to image_tag("addevent.png", width:"8%", height:"auto", id:"addevent"), {:action => "addEvento", :controller => "admin"} %>

<%= link_to image_tag("users.png", width:"8%", height:"auto", id:"userphotos"), {:action => "user", :controller => "admin"}  %>
<script>
	function setBodyId() {
		document.body.id = 'bodyadmin';
	}           
	window.onpageshow = setBodyId;
</script>
<div class="head_2">
	<p id="notice"><%= notice %></p>
	<h1>Edit Section Photos</h1>
	<div class="edit_photo">	
		<div class = "select">
			<p>Select the Venue</p>		
			<%= collection_select(nil, :id, Recinto.order(:nome), :id, :nome,
			{:prompt   => "Select a Venue"}, {:id => 'venue_select'})%>
		</div>
		<div id="setores" class="select">
			<p>Select Sector</p>	
			<%= grouped_collection_select(nil, :recinto_id, Recinto.order(:nome), :sectors, :nome, :id, :descritivo,:prompt   => "Select a Venue") %>
		</div>
		<div id="fotos" class="select">
			<p>Select Photo </p>
			<%= grouped_collection_select(nil, :sector_id, Sector.order(:descritivo), :fotosector, :descritivo, :id, :foto, :prompt   => "Select a Photo") %>
		</div>

		<div id="image_admin" class="container_admin">
			<%= image_tag("http://placehold.it/370x259", width:"100%", height:"auto", id:"teste") %>
		</div>

		<div class="buttons" id="identidade">
			<div class="deletef" id="deletef">
			<a href="#" data-confirm="Are you sure you want to delete this photo?" data-method="delete" rel="nofollow" id="imagelink" class="xmark">Delete</a></td>
			</div>
			<%= form_for @fotosector, :multipart => true, :remote => true  do |f| %>
			<div class="upload">
			<%= file_field_tag :file %>
			</div>
			<%= f.hidden_field  :foto,:value => @fotosector.id %>
			<%= f.hidden_field  :sector_id,:value => 0 %>
			<%= f.submit "Add Photo" ,{:action => "create", :controller => "admin", :id => "submit_photo"} %>
			<% end %>
		</div>
	</div>
</div>