<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<%= image_tag("logo.png", width:"100%", height:"auto",  id:"konami") %>
		</div>
		<div class="back">
			Este trabalho foi realizado no âmbito da disciplina de LDSO do 4º ano do MIEIC da Faculdade de Engenharia da Universidade do Porto. 
			Durante este projecto, tivemos a colaboração do Futebol Clube do Porto, que nos permitiu fotografar a vista das bancadas do Estádio do Dragão e da FEUP, pelo acesso ao auditório.
			Blah Blah Blah Wishkas saketas
		</div>
	</div>
</div>