<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), {:action => "general", :controller => "admin"} %>

<script>
function setBodyId() {
	document.body.id = 'bodyadmin';
}           
window.onpageshow = setBodyId;
</script>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<div class="head_2">
	<h1>Manage Users</h1>
	<div class="edit_photo">	
		<form>
			<p>Search User by Name</p><input type="text" id="word" required>
			<button type="submit" id="searchBttn">Search</button>
		</form>

		<div>	
			<table>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Last sign in</th>
					<th>Ban/Disban</th>
				</tr>

				<% if @usersResult != nil %>
				<% @usersResult.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.created_at.to_time.strftime('%B %Y %e at %l:%M %p') %></td>
					<% if user.banned == true %>
						<td><%= link_to '√', '/admin/user?b='+user.id.to_s+'&n='+@word,  data: { confirm: 'Are you sure to disban this user?' },id: 'xmark' %></td>
					<% end %>

					<% if user.banned == false %>
						<td><%= link_to '✖', '/admin/user?b='+user.id.to_s+'&n='+@word,  data: { confirm: 'Are you sure to ban this user?' },id: 'xmark' %></td>
					<% end %>
				</tr>
				<% end %>	
				<% end %>

			</table>
		</div>
	</div>
</div>

<script>

$("#searchBttn").click(function(){
	userName = document.getElementById('word').value;
	window.location.href = '/admin/user?n='+userName;
	return false;
});
</script>