<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), {:action => "general", :controller => "admin"} %>

<script>
    function setBodyId() {
        document.body.id = 'bodyadmin';
    }           
    window.onpageshow = setBodyId;
</script>

<div class="head_2">
	<h1>Manage user Photos</h1>
	<div class="edit_photo">	
		<div class = "select">
			<p>Select the Venue</p>		
			<%= collection_select(nil, :id, Recinto.order(:nome), :id, :nome,
			{:prompt   => "Select a Venue"}, {:id => 'venue_select'})%>
		</div>

		<div id="image_admin" class="container_admin">
			<%= image_tag("http://placehold.it/370x259", width:"100%", height:"auto", id:"teste") %>
		</div>
	</div>
</div>