<%= form_for(@estadio) do |f| %>
  <% if @estadio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estadio.errors.count, "error") %> prohibited this estadio from being saved:</h2>

      <ul>
      <% @estadio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
