<h1>Listing estadios</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estadios.each do |estadio| %>
  <tr>
    <td><%= link_to 'Show', estadio %></td>
    <td><%= link_to 'Edit', edit_estadio_path(estadio) %></td>
    <td><%= link_to 'Destroy', estadio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estadio', new_estadio_path %>
