<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Dear <%= @user.name %>,</p>
	
	<p>We want Spam for breakfast.</p>
	
	<p>Yours truly,</p>
	<p>Bloody Vikings</p>
</body>
</html>