<%= form_for(@recinto) do |f| %>
  <% if @recinto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recinto.errors.count, "error") %> prohibited this recinto from being saved:</h2>

      <ul>
      <% @recinto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :capacidade %><br />
    <%= f.number_field :capacidade %>
  </div>
  <div class="field">
    <%= f.label :morada %><br />
    <%= f.text_field :morada %>
  </div>
  <div class="field">
    <%= f.label :notas %><br />
    <%= f.text_area :notas %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
