<h1>Listing recintos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Capacidade</th>
    <th>Morada</th>
    <th>Notas</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recintos.each do |recinto| %>
  <tr>
    <td><%= recinto.nome %></td>
    <td><%= recinto.capacidade %></td>
    <td><%= recinto.morada %></td>
    <td><%= recinto.notas %></td>
    <td><%= recinto.telefone %></td>
    <td><%= link_to 'Show', recinto %></td>
    <td><%= link_to 'Edit', edit_recinto_path(recinto) %></td>
    <td><%= link_to 'Destroy', recinto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recinto', new_recinto_path %>
