<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), root_path %>

<script>      
function setBodyId() {

var audit = "<%= @recinto.id %>";

if(audit == 1){
  document.body.id = 'fcp';
  }
if(audit ==2){
   document.body.id = 'auditorio';
  }
  
  if(document.getElementById('logout_1') != null)
    document.getElementById("logout_1").style.color = '#5f96e7';
  if(document.getElementById('logout_2') != null)
    document.getElementById("logout_2").style.color = '#5f96e7';
  if(document.getElementById('logout_3') != null)
    document.getElementById("logout_3").style.color = '#5f96e7';
  if(document.getElementById('logout_4') != null)
    document.getElementById("logout_4").style.color = '#5f96e7';
  if(document.getElementById('login-trigger') != null)
    document.getElementById("login-trigger").style.color = '#5f96e7';
}  
window.onload = setBodyId;
</script>

<div class="container">


  <div class="row">
    <div class="g12">


	<div class="flip-container_inf" ontouchstart="this.classList.toggle('hover');" id= "descriptions_flip">
	<div class="flipper">
	
	<% if @recinto.id == 1 %>
		<div class="front" id="front_recinto">
			<%= image_tag("porto_logo.png", width:"50%", height:"auto",  id:"konami") %>
		</div>
	<%end%>
	
	<% if @recinto.id == 2 %>
		<div class="front">
			<%= image_tag("logo_feup.gif", width:"100%", height:"auto",  id:"konami") %>
		</div>
	<%end%>
		<div class="back">
  <div class="info_recinto">
    <p class="lettering">
      <b>Capacidade:</b>
      <%= @recinto.capacidade %>
    </br>
  </p>

  <p>
    <b>Morada:</b>
    <%= @recinto.morada %>
  </br>
</p>
<p>
  <b>Telefone:</b>
  <%= @recinto.telefone %>
</br>
</p>


<p>
  <b>Mais informações:</b>
  <%= @recinto.notas %>
</br>
</p>

</div>

		</div>
	</div>
</div>
      <div id="eventCalendarHumanDate"></div>
	  
      <% 
      path = "app/assets/javascripts/events.json"
      content = raw @recinto.eventos.to_json
      File.open(path, "w+") do |f|
       f.write(content)
     end
     %>    
     <% 


     initbracket = "["
     finbracket = "]"


     path = "app/assets/javascripts/sections.json"
     content = raw @recinto.sectors.first.fotosector.to_json

     start =  @recinto.sectors.first.id+1
	 


     (start..@recinto.sectors.last.id).each do |i| 
       content2 = raw @recinto.sectors.find(i).fotosector.to_json 
       content = content +","+ content2
     end

     content_f = initbracket + content + finbracket



     File.open(path, "w+") do |f|
       f.write(content_f)
     end
     %>    
     <script>

     $(document).ready(function() {
      $("#eventCalendarHumanDate").eventCalendar({
                eventsjson: '../../assets/javascripts/events.json', //mudar
                jsonDateFormat: 'human'  // 'YYYY-MM-DD HH:MM:SS'
              });

      $.popup({
                sectorjson: '../../assets/javascripts/sections.json', //mudar
                jsonDateFormat: 'human'  // 'YYYY-MM-DD HH:MM:SS'
              });
    });
     </script>
   </div>
 </div>

 <p id="notice"><%= notice %></p>

 <div id="box">
  <p id="recinto_titulo"><%= @recinto.nome %></p>     
</div>





<% if @recinto.id == 1 %>

<div id="stadium">
<%=  image_tag("estadio_todo.png", width:"33.5%", height:"auto", id:"estadioimg", class:"posEstadio" , usemap:"#img_map")%>


<%= content_tag :div, class: "temp_information", data: {temp: current_user} do %>
<% end %>

  <map name="img_map" id="stadium">
    <area id="s01" alt="" title="s01" shape="rect" coords="175,247,223,278" style="outline:none;" target="_self" onmouseover="ola(this,1)" onmouseleave="adeus(this)"/>
    <area id="s02" alt="" title="s02" shape="rect" coords="175,280,224,311" style="outline:none;" target="_self" onmouseover="ola(this,2)" onmouseleave="adeus(this)"   />
    <area id="s03" alt="" title="s03" shape="poly" coords="156,319,220,315,222,343,157,348" style="outline:none;" target="_self"  onmouseover="ola(this,3)" onmouseleave="adeus(this)" />
    <area id="s04" alt="" title="s04" shape="poly" coords="223,348,158,353,165,405,192,391,190,377,225,369" style="outline:none;" target="_self"    onmouseover="ola(this,4)" onmouseleave="adeus(this)" />
    <area id="s05" alt="" title="s05" shape="poly" coords="170,410,178,426,226,376,196,380,198,393" style="outline:none;" target="_self"   onmouseover="ola(this,5)" onmouseleave="adeus(this)"  />
    <area id="s06" alt="" title="s06" shape="poly" coords="233,382,185,429,202,443,220,447" style="outline:none;" target="_self"   onmouseover="ola(this,6)" onmouseleave="adeus(this)"  />
    <area id="s07" alt="" title="s07" shape="poly" coords="238,383,258,384,257,440,230,440" style="outline:none;" target="_self"   onmouseover="ola(this,7)" onmouseleave="adeus(this) " />
    <area id="s08" alt="" title="s08" shape="rect" coords="261,384,291,441" style="outline:none;" target="_self"    onmouseover="ola(this,8)" onmouseleave="adeus(this)" />
    <area id="s09" alt="" title="s09" shape="rect" coords="294,383,322,442" style="outline:none;" target="_self"    onmouseover="ola(this,9)" onmouseleave="adeus(this)" />
    <area id="s10" alt="" title="s10" shape="rect" coords="326,382,354,442" style="outline:none;" target="_self"   onmouseover="ola(this,10)" onmouseleave="adeus(this)"  />
    <area id="s11" alt="" title="s11" shape="poly" coords="357,384,378,383,388,440,361,440" style="outline:none;" target="_self"   onmouseover="ola(this,11)" onmouseleave="adeus(this)"  />
    <area id="s12" alt="" title="s12" shape="poly" coords="384,381,398,448,416,442,432,431" style="outline:none;" target="_self"    onmouseover="ola(this,12)" onmouseleave="adeus(this)" />
    <area id="s13" alt="" title="s13" shape="poly" coords="433,424,446,411,419,396,421,381,392,375" style="outline:none;" target="_self"    onmouseover="ola(this,13)" onmouseleave="adeus(this)" />
    <area id="s14" alt="" title="s14" shape="poly" coords="391,370,392,346,457,353,450,405,423,395,430,378" style="outline:none;" target="_self"  onmouseover="ola(this,14)" onmouseleave="adeus(this)"   />
    <area id="s15" alt="" title="s15" shape="poly" coords="459,347,393,343,394,313,459,318" style="outline:none;" target="_self"  onmouseover="ola(this,15)" onmouseleave="adeus(this) "  />
    <area id="s16" alt="" title="s16" shape="rect" coords="393,280,447,314" style="outline:none;" target="_self"    onmouseover="ola(this,16)" onmouseleave="adeus(this)" />
    <area id="s17" alt="" title="s17" shape="rect" coords="394,247,446,277" style="outline:none;" target="_self"   onmouseover="ola(this,17)" onmouseleave="adeus(this) " />
    <area id="s18" alt="" title="s18" shape="rect" coords="393,213,447,243" style="outline:none;" target="_self"   onmouseover="ola(this,18)" onmouseleave="adeus(this) " />
    <area id="s19" alt="" title="s19" shape="poly" coords="393,181,460,178,462,207,393,211" style="outline:none;" target="_self"    onmouseover="ola(this,19)" onmouseleave="adeus(this)" />
    <area id="s20" alt="" title="s20" shape="poly" coords="459,172,394,176,391,152,429,145,426,132,450,119" style="outline:none;" target="_self"  onmouseover="ola(this,20)" onmouseleave="adeus(this)"   />
    <area id="s21" alt="" title="s21" shape="poly" coords="389,146,435,97,447,113,419,130,419,142" style="outline:none;" target="_self"  onmouseover="ola(this,21)" onmouseleave="adeus(this)"   />
    <area id="s22" alt="" title="s22" shape="poly" coords="383,142,399,75,415,83,432,95" style="outline:none;" target="_self"   onmouseover="ola(this,22)" onmouseleave="adeus(this)"  />
    <area id="s23" alt="" title="s23" shape="poly" coords="377,143,357,141,361,83,388,82" style="outline:none;" target="_self"    onmouseover="ola(this,23)" onmouseleave="adeus(this)" />
    <area id="s24" alt="" title="s24" shape="rect" coords="326,81,354,143" style="outline:none;" target="_self"   onmouseover="ola(this,24)" onmouseleave="adeus(this)"  />
    <area id="s25" alt="" title="s25" shape="rect" coords="293,82,324,142" style="outline:none;" target="_self"    onmouseover="ola(this,25)" onmouseleave="adeus(this)" />
    <area id="s26" alt="" title="s26" shape="rect" coords="261,82,290,142" style="outline:none;" target="_self"    onmouseover="ola(this,26)" onmouseleave="adeus(this)" />
    <area id="s27" alt="" title="s27" shape="poly" coords="258,140,239,143,228,85,255,84" style="outline:none;" target="_self"    onmouseover="ola(this,27)" onmouseleave="adeus(this)" />
    <area id="s28" alt="" title="s28" shape="poly" coords="234,143,185,95,202,81,219,79" style="outline:none;" target="_self"    onmouseover="ola(this,28)" onmouseleave="adeus(this)" />
    <area id="s29" alt="" title="s29" shape="poly" coords="170,113,181,97,224,147,196,142,200,128" style="outline:none;" target="_self"    onmouseover="ola(this,29)" onmouseleave="adeus(this)" />
    <area id="s30" alt="" title="s30" shape="poly" coords="226,175,157,172,167,118,190,134,187,144,227,154" style="outline:none;" target="_self"   onmouseover="ola(this,30)" onmouseleave="adeus(this)"  />
    <area id="s31" alt="" title="s31" shape="poly" coords="154,204,156,176,223,181,222,209" style="outline:none;" target="_self"   onmouseover="ola(this,31)" onmouseleave="adeus(this) " />
    <area id="s32" alt="" title="s32" shape="rect" coords="175,213,223,243" style="outline:none;" target="_self"   onmouseover="ola(this,32)" onmouseleave="adeus(this) " />
    <area id="s33" alt="" title="s33" shape="poly" coords="152,140,112,140,134,111,153,93,166,102" style="outline:none;" target="_self"    onmouseover="ola(this,33)" onmouseleave="adeus(this)" />
    <area id="s34" alt="" title="s34" shape="poly" coords="109,143,154,146,151,169,109,165" style="outline:none;" target="_self"    onmouseover="ola(this,34)" onmouseleave="adeus(this)" />
    <area id="s35" alt="" title="s35" shape="poly" coords="110,171,145,174,144,204,107,203" style="outline:none;" target="_self"    onmouseover="ola(this,35)" onmouseleave="adeus(this)" />
    <area id="s36" alt="" title="s36" shape="poly" coords="105,207,146,209,145,242,108,240" style="outline:none;" target="_self"    onmouseover="ola(this,36)" onmouseleave="adeus(this)" />
    <area id="s38" alt="" title="s38" shape="poly" coords="106,283,143,283,142,315,108,315" style="outline:none;" target="_self"   onmouseover="ola(this,37)" onmouseleave="adeus(this) " />
    <area id="s39" alt="" title="s39" shape="poly" coords="107,320,144,319,145,350,110,352" style="outline:none;" target="_self"   onmouseover="ola(this,38)" onmouseleave="adeus(this) " />
    <area id="s40" alt="" title="s40" shape="poly" coords="110,357,150,356,154,378,110,380" style="outline:none;" target="_self"    onmouseover="ola(this,39)" onmouseleave="adeus(this) "/>
    <area id="s41" alt="" title="s41" shape="poly" coords="113,385,128,408,151,431,169,422,153,388,153,381" style="outline:none;" target="_self"    onmouseover="ola(this,40)" onmouseleave="adeus(this) " />
    <area id="s42" alt="" title="s42" shape="poly" coords="463,429,488,410,505,384,464,382,449,420" style="outline:none;" target="_self"   onmouseover="ola(this,41)" onmouseleave="adeus(this)  " />
    <area id="s43" alt="" title="s43" shape="poly" coords="465,356,508,356,509,379,465,378" style="outline:none;" target="_self"   onmouseover="ola(this,42)" onmouseleave="adeus(this) "  />
    <area id="s44" alt="" title="s44" shape="poly" coords="473,320,512,319,509,353,472,349" style="outline:none;" target="_self"   onmouseover="ola(this,43)" onmouseleave="adeus(this)  " />
    <area id="s45" alt="" title="s45" shape="poly" coords="474,281,512,283,510,314,473,313" style="outline:none;" target="_self"    onmouseover="ola(this,44)" onmouseleave="adeus(this) " />
    <area id="s46" alt="" title="s46" shape="poly" coords="474,245,513,245,514,278,474,277" style="outline:none;" target="_self"    onmouseover="ola(this,45)" onmouseleave="adeus(this)"  />
    <area id="s47" alt="" title="s47" shape="poly" coords="474,240,511,241,510,207,474,209" style="outline:none;" target="_self"    onmouseover="ola(this,46)" onmouseleave="adeus(this) " />
    <area id="s48" alt="" title="s48" shape="poly" coords="471,174,508,171,511,202,473,204" style="outline:none;" target="_self"    onmouseover="ola(this,47)" onmouseleave="adeus(this)"  />
    <area id="s49" alt="" title="s49" shape="poly" coords="466,147,507,143,510,166,468,167" style="outline:none;" target="_self"   onmouseover="ola(this,48)" onmouseleave="adeus(this) "  />
    <area id="s50" alt="" title="s50" shape="poly" coords="450,104,463,94,489,117,504,140,465,143" style="outline:none;" target="_self"   onmouseover="ola(this,49)" onmouseleave="adeus(this) "  />

  </map>

</div>

<%=  image_tag("s01.png", width:"33.5%", height:"auto", id:"high", class:"posEstadio2" )%>
  <%end%>

  <% if @recinto.id == 2 %>
<%=  image_tag("auditorio.png", width:"33.5%", height:"auto", id:"estadioimg", class:"posEstadio" , usemap:"#img_map2")%>

  <%= content_tag :div, class: "temp_information", data: {temp: current_user} do %>
<% end %>
  
<map name="img_map2" id="auditorio">
<area id="a01" alt="" title="a01" shape="poly" coords="29,232,102,238,103,169,36,166" style="outline:none;" target="_self"  onmouseover="ola(this,1)" onmouseleave="adeus2(this)"  />
<area id="a03" alt="" title="a03" shape="poly" coords="27,236,102,241,101,312,61,311,17,304" style="outline:none;" target="_self"   onmouseover="ola(this,2)" onmouseleave="adeus2(this)"   />
<area id="a02" alt="" title="a02" shape="poly" coords="118,170,184,165,191,231,119,238" style="outline:none;" target="_self"    onmouseover="ola(this,3)" onmouseleave="adeus2(this)"  />
<area id="a04" alt="" title="a04" shape="poly" coords="117,243,120,310,169,310,203,305,194,238" style="outline:none;" target="_self"   onmouseover="ola(this,4)" onmouseleave="adeus2(this)"   />
<area id="a05" alt="" title="a05" shape="poly" coords="263,269,254,306,299,311,336,312,339,274" style="outline:none;" target="_self"    onmouseover="ola(this,5)" onmouseleave="adeus2(this)"  />
<area id="a06" alt="" title="a06" shape="poly" coords="442,306,401,312,360,313,357,271,396,272,432,269" style="outline:none;" target="_self" onmouseover="ola(this,6)" onmouseleave="adeus2(this)"     />
</map>
    <%=  image_tag("auditorio.png", width:"33.5%", height:"auto", id:"high", class:"posEstadio2" )%>
  <% end %>
  


  
<div id="my-popup" class="mfp-hide white-popup">
  Inline popup
</div>

<script>
$('map').imageMapResize();
</script>
