<%= form_for(@sector) do |f| %>
  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descritivo %><br />
    <%= f.text_area :descritivo %>
  </div>
  <div class="field">
    <%= f.label :distancia_bar %><br />
    <%= f.number_field :distancia_bar %>
  </div>
  <div class="field">
    <%= f.label :distancia_wc %><br />
    <%= f.number_field :distancia_wc %>
  </div>
  <div class="field">
    <%= f.label :recinto_id %><br />
    <%= f.number_field :recinto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
