<h1>Listing sectors</h1>

<table>
  <tr>
	<th>ID</th>
    <th>Descritivo</th>
    <th>Recinto</th>
    <th></th>
    <th></th>
  </tr>

<% @sectors.each do |sector| %>
  <tr>
	<td><%= sector.id %></td>
    <td><%= sector.descritivo %></td>
	<td><%= sector.recinto_id %></td>
    <td><%= link_to 'Show', sector %></td>
    <td><%= link_to 'Edit', edit_sector_path(sector) %></td>
    <td><%= link_to 'Destroy', sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sector', new_sector_path %>
