<p id="notice"><%= notice %></p>

<p>
  <b>Descritivo:</b>
  <%= @sector.descritivo %>
</p>

<p>
  <b>Recinto:</b>
  <%= @sector.recinto_id %>
</p>


<%= link_to 'Edit', edit_sector_path(@sector) %> |
<%= link_to 'Back', sectors_path %>
