<%= form_for(@fotolugar) do |f| %>
  <% if @fotolugar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fotolugar.errors.count, "error") %> prohibited this fotolugar from being saved:</h2>

      <ul>
      <% @fotolugar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foto %><br />
    <%= f.text_area :foto %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
