<h1>Listing fotolugars</h1>

<table>
  <tr>
    <th>Foto</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fotolugars.each do |fotolugar| %>
  <tr>
    <td><%= fotolugar.foto %></td>
    <td><%= fotolugar.descricao %></td>
    <td><%= link_to 'Show', fotolugar %></td>
    <td><%= link_to 'Edit', edit_fotolugar_path(fotolugar) %></td>
    <td><%= link_to 'Destroy', fotolugar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fotolugar', new_fotolugar_path %>
