<p id="notice"><%= notice %></p>

<p>
  <b>Foto:</b>
  <%= @fotolugar.foto %>
</p>

<p>
  <b>Descricao:</b>
  <%= @fotolugar.descricao %>
</p>


<%= link_to 'Edit', edit_fotolugar_path(@fotolugar) %> |
<%= link_to 'Back', fotolugars_path %>
