<%= form_for(@bancada) do |f| %>
  <% if @bancada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bancada.errors.count, "error") %> prohibited this bancada from being saved:</h2>

      <ul>
      <% @bancada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_area :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
