<h1>Listing bancadas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bancadas.each do |bancada| %>
  <tr>
    <td><%= bancada.nome %></td>
    <td><%= link_to 'Show', bancada %></td>
    <td><%= link_to 'Edit', edit_bancada_path(bancada) %></td>
    <td><%= link_to 'Destroy', bancada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bancada', new_bancada_path %>
