<%= image_tag("logo.png", width:"25%", height:"auto",  id:"logo",:class => "img_preview") %>


<script type="text/javascript">
	if ( window.addEventListener ) {  
		var state = 0, konami = [38,38,40,40,37,39,37,39,66,65];  
		window.addEventListener("keydown", function(e) {  
			if ( e.keyCode == konami[state] ) state++;  
			else state = 0;  
			if ( state == 10 )  
      window.location = "admin/konami";  //you can write your own code here
}, true);  
	}  
</script>
<div ng-app="findmyspot">

	<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
	<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
	<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>

	<ul id="mainmenu" >
		<li>
			<div class="hover-div" id="casadamusica" ng-mouseenter="myclass1 = 'underhighlight'" ng-mouseleave="myclass1 = 'lowlight'"> 
				<%= image_tag("aviso.png", width:"27%", height:"auto",  id:"notavailable",:class => "img_preview") %>
				<div ng-class="myclass1" class="titulosmenu" style="pointer-events: none; cursor: default;"> Casa da Música </div>
			</div>
		</li>
		<li>
			<div class="hover-div" ng-mouseenter="myclass2 = 'highlight'" ng-mouseleave="myclass2 = 'lowlight'"> 
				<div ng-class="myclass2" class="titulosmenu"> 
					<%= link_to "Estádio do Dragão" , {:action => "show", :controller => "recintos", :id =>"1"}%>
				</div>
			</div>
			
		</li>
		<li>
			<div class="hover-div" ng-mouseenter="myclass3 = 'highlight'" ng-mouseleave="myclass3 = 'lowlight'"> 
				<div ng-class="myclass3" class="titulosmenu"> <%= link_to "Auditório FEUP" , {:action => "show", :controller => "recintos", :id =>"2"}%> </div>
			</div>
			
		</li>
	</ul>
	<% if signed_in? %>


	<% else %>
	<a href ng-click="LogIn = !LogIn"><%= image_tag("fmslogin.png", width:"5%", height:"auto", id:"twitter",:class => "img_preview") %></a>
	
	<%= link_to image_tag("socialface.png", width:"5%", height:"auto", id:"face",:class => "img_preview"), user_omniauth_authorize_path(:facebook) %>
	<%= link_to image_tag("socialgmail.png", width:"5%", height:"auto", id:"gmail",:class => "img_preview"), user_omniauth_authorize_path(:google_oauth2) %>
	<% end %>

	<div ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
		<div id="form" name="form" ng-show="LogIn">
			<div id="block">
				<label id="user" for="name">u</label>
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>			
				<%= f.email_field :email, autofocus: true , :type=> 'email', :placeholder=>'Email' %>

				<label id="pass" for="password">p</label>
				<%= f.password_field :password, autocomplete: "off" , :type=> 'password', :placeholder=>'Password'%>

				<div id="loginbtn"><%= f.submit "GO" , :id=>'submit', :name=>'submit', :type=> 'submit', :class => 'btn btn-primary' %></div>
				<% end %>

				<div > <%= link_to "Forgot your password?", {:action => "recover", :controller => "recoverpass"}, :id=>'forgotpass'%></div>
			</div>

		</div>
	</div>
</div>