<h1>Listing eventos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Info</th>
    <th>Data</th>
    <th>Promotor</th>
    <th>Recinto</th>
    <th></th>
    <th></th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.title %></td>
    <td><%= evento.description %></td>
    <td><%= evento.date %></td>
    <td><%= evento.promotor %></td>
    <td><%= link_to 'Show', evento %></td>
    <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
    <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evento', new_evento_path %>
