<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @evento.title %>
</p>

<p>
  <b>Info:</b>
  <%= @evento.description %>
</p>

<p>
  <b>Data:</b>
  <%= @evento.date %>
</p>

<p>
  <b>Promotor:</b>
  <%= @evento.promotor %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
