<%= form_for(@fotosector) do |f| %>
  <% if @fotosector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fotosector.errors.count, "error") %> prohibited this fotosector from being saved:</h2>

      <ul>
      <% @fotosector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foto %><br />
    <%= f.text_area :foto %>
  </div>
  <div class="field">
    <%= f.label :sector_id %><br />
    <%= f.number_field :sector_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
