<h1>Listing fotosectors</h1>

<table>
  <tr>
    <th>Foto</th>
    <th>Sector</th>
    <th></th>
    <th></th>
  </tr>

<% @fotosectors.each do |fotosector| %>
  <tr>
    <td><%= fotosector.foto %></td>
	<td><%= fotosector.sector_id %></td>
    <td><%= link_to 'Show', fotosector %></td>
    <td><%= link_to 'Edit', edit_fotosector_path(fotosector) %></td>
    <td><%= link_to 'Destroy', fotosector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fotosector', new_fotosector_path %>
