<p id="notice"><%= notice %></p>

<p>
  <b>Foto:</b>
  <%= @fotosector.foto %>
    <b>Sector:</b>
  <%= @fotosector.sector_id %>
</p>


<%= link_to 'Edit', edit_fotosector_path(@fotosector) %> |
<%= link_to 'Back', fotosectors_path %>
