<%= link_to image_tag("logo.png", width:"8%", height:"auto", id:"log"), root_path %>

<%= link_to image_tag("BACK.png", width:"5%", height:"auto", id:"back"), root_path %>

<div id="RecCont">
	<div id="RecTitle">Forgot your password?</div>
	<div id="RecText">Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@findyourspot.com.</div>
	<div>
        <form>
            <input type="email" id="RecForm" placeholder="Email">
            <button type="submit" id="RecBttn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<script>
function makepass()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 8; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}

$("#RecBttn").click(function(){
    var pass=makepass();
    var mail_element = document.getElementById('RecForm');
    var userEmail = mail_element.value;

    $.ajax({
        type: 'POST',
        url: 'https://mandrillapp.com/api/1.0/messages/send.json',
        data: {
            'key': 'g_F3o5_PVOJ4_DmMP7-NGA',
            'message': {
                'from_email': 'no-reply@findyourspot.com',
                'from_name': 'Find Your Spot',
                'to': [
                {
                    'email':  userEmail,
                    'name': 'User',
                    'type': 'to' 
                }
                ],
                'autotext': 'true',
                'subject': 'Find your password',
                'html': 
                '<p>Dear User </p>'+
                '<p>Your new password is '+pass+'</p>'+
                '<p>If you want you can go to your profile and change your password.</p>'+
                '<p>Greetings,</p>'+
                '<p>Find Your Spot</p>'
            }
        }
    })

    window.location.href = '/recoverpass/change?p='+pass+'&m='+userEmail;
    return false;
});

</script>