<div id="comments">
	<form id="myForm" method="post">
		Name: <input type="text" name="name" />
		Comment: <textarea name="comment"></textarea>
		<input type="submit" value="Submit Comment" />
	</form>
</div>
