			<div>
				<p>Select the Venue</p>	
				<select id="venue">
					<option value="-1">Select a Venue</option>
					<% @recintos.each do |recinto| %>
					<option value="<%= @i %>"><%= recinto.nome %></option>
					<% @i = @i+1 %>
					<% end %>
				</select>
			</div>
			<div id="setores">
				<p>Select Sector</p>	
				<select class="dragao">
					<option value="-1">Select a Sector</option>
					<% @setores_dragao.each do |sector| %>
					<option value="1"><%= sector.descritivo %></option>
					<% end %>
				</select>
				<select class="musica">
					<option value="-1">Select a Sector</option>
					<% @setores_musica.each do |sector| %>
					<option value="1"><%= sector.descritivo %></option>
					<% end %>
				</select>
			</div>
			<div id="fotos">
				<p>Selecta Sector</p>	
				<select class="s01">
					<option value="-1">Select a Sector</option>
					<% @fotosectors.each do |foto| %>
					<option value="1"><%= foto.foto %></option>
					<% end %>
				</select>
			</div>