<%= link_to 'Destroy', Evento.find(), method: :delete, data: { confirm: 'Are you sure?' } %>

<script>
	$(document).ready(function(){
		$('#_recinto_id').change(function() {
			$('#text_to_be_changed').html($(this).val());
			var i = $("#_recinto_id").val();
			<%= @to_destroy %> = i;
			alert("");
			$('#lol').replaceWith('<%= link_to @to_destroy, Evento.find(@to_destroy), method: :delete, data: { confirm: 'Are you sure?' } %>');
		});
	});
</script>


			
			
			
<%= grouped_collection_select(z, :recinto_id, Recinto.order(:nome), :eventos, :nome, :id, :title) %>