#setores{
	
	lay: none;
}

#fotos{
	display: none;
}
.head_2{
	top: 110px;
	margin-left: 440px;
	position: absolute;
	width: 50%;
	font-family:CoolveticaRg-Regular;
	color: #33312F;
	border-bottom: 3px solid #E58621;	
}

.edit_photo{
	margin-top: 10px;
	top: 110px;
	position: absolute;
	width: 100%;
	background: #33312F;
	border-radius: 9px 9px 9px 9px;	
	height: 300px;
}

.edit_photo p {
	padding-left: 10px;
	display: inline;
	color: #E58621;
	font-family:CoolveticaRg-Regular;
	padding-right: 1px;
}

#setores p{
	padding-left: 10px;
	display: inline;
	color: #E58621;
	font-family:CoolveticaRg-Regular;
	padding-right: 19px;
}
#select_time p{
	padding-left: 10px;
	display: inline;
	color: #E58621;
	font-family:CoolveticaRg-Regular;
	padding-right: 28px;
}
.edit_photo .select{
	margin-top: 3px;
	border-bottom: 1px solid #E58621;	
	width: 50%;
}
#venue{
	margin-top: 20px;
	padding-left: 10px;
}

#fotos p{
	padding-left: 10px;
	display: inline;
	color: #E58621;
	font-family:CoolveticaRg-Regular;
	padding-right: 23px;
}

select{

	width: 150px;
	text-align: center;
}

.select p{
	padding-right: 15px;
}

p.p1a{
	padding-right: 37px;
}
p.p2a{
	padding-right: 81px;
}
p.p3a{
	padding-right: 78px;
}
#fotos p, #setores p{
	padding-right: 37px;
}
#setores p{
	padding-right: 33px;
}
.select input{
	width: 150px;
	text-align: center;
}
.container_admin{
	position: absolute;
	left: 52%;
	top: 35%;
	width: 39%;
	height: 43%;	
	color: white;
}

.bttn{
	color: #E58621;
	padding-left: 50px;
	text-decoration: none;
}

#addevent{
	position: absolute;
	left: 85%;
	top: 35%;

}
#userphotos{
	position: absolute;
	left: 86%;
	top: 55%;
}

#destroyevent{
	padding-left: 3px;
	color: #E58621;
	text-decoration: none;
	text-align: center;
}

#destroyevent:hover{
	color: grey;
	text-align: center;
}

.edit_photo tr td, .edit_photo tr th{
	color: #E58621;
	text-align: center;

}
.edit_photo tr th{
	padding-left: 9%;
	padding-bottom: 4%;
	padding-top: 4%;
	font-size: 18px;
	border-bottom: 3px solid;
}

.edit_photo tr td{
	padding-left: 50px;
}

#xmark, .xmark{
	text-decoration: none;
	color: #E58621;
}

#xmark:hover, .xmark:hover{
	color: #CD3131;
	text-decoration: none;
}

#setores{
	display: none;
}

.buttons input[type=file] {
    color: #E58621;
}

div.upload {
	color: #E58621;
    width: 60px;
    height: 25px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    background-size: 60px 25px;
}

div.upload input[type=file] {
    display: inline !important;
    width: 60px !important;
    height: 25px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor:pointer;
    color: #E58621;
}

.buttons input[type="submit"],.deletef,#addevento{
    box-sizing: border-box;
    clear: both;
    float: left;
    display: inline;
    border: 1px solid #E58621;
    background: #33312F;
    margin: 6px 0;
    padding: 4px 10px;
    width: 20%;
    height: 34px;
    outline: 0;
    color: #E58621;
    font-size: 14px;
}
.buttons input[type=submit],.deletef,#addevento{
    background: #33312F;
    color: #E58621;
    border: 0;
    border: 2px solid #E58621;
    margin: 10px 0 0;
}

.buttons input[type=submit]:active,
.buttons input[type=submit]:focus {
    background: #E58621;
    color: #33312F;
    border: 0;
    position: relative;
    top: 1px;
    border-bottom: 1px solid;
}

.buttons input[type=submit]:hover{
	color: #003300;
}
.upload{
	display: inline;
}

#deletef{
	display: block;
	text-align: center;
}