//comentarios.css
// Place all the styles related to the comentarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showallcomments{
    margin: 20px;
    text-align:left;
    padding-bottom: 10%;
    color: #273856;
    font-size: 15px;
    font-family: CoolveticaRg-Regular;        
}

#commentbar{
    margin-left: 5px;
    margin-right: auto;
    position: center;
    color: #273856;
    text-align: left;

input {
    color: #6494dc;
    background: #273856;
   }
}

#eachcomment{
    display: inline;
}

#showcommentuser{
    margin-left:10%;
    color: #2c5fb7;
    text-align: left;
    font-family:CoolveticaRg-Regular;
    text-shadow: 1px 1px rgba(44, 95, 183, 0.98);

}


#titlecom{
    color: #6494dc;
    text-align: center;
    font-family:CoolveticaRg-Regular;
    text-shadow: 2px 1px 2px rgba(44, 95, 183, 0.98);
	margin-left: -30%;
}

body{
    
}

#showcommenttext {
    margin-left:10%;
}

#showcommentdate {
    color: #000000;
    font-size: 70%;
}

#showcommentphoto {
    position: absolute;
    margin-top: 1%;
    width: 40px;
    height: 40px;
}

#del_icon {
position:absolute;
margin-top: -4.5%;
margin-left: 80%;

}

#rating {

position:absolute;
margin-left: 80%;
margin-top: -7%;
}

#rating_img{
position:absolute;
}

#rating_text {
position:absolute;
 z-index:200;
  font-size: 15px;
margin-left: 54%;
margin-top: -14%;
    color: white;
    font-family:CoolveticaRg-Regular;
    text-shadow: 2px 1px 2px rgba(44, 95, 183, 0.98);

}


/* resize images */
#showcommentphoto img {
    width: 100%;
    height: auto;
}
