label{
    font-family:icon;
    text-shadow:0 -1px 0 #666;
    -webkit-font-smoothing: antialiased; 
}


#block,#option{
  font-family:'Verdana';
  width:230px;
  height:113px;
  margin:auto;
}

#forgotpass{
  font-size: 80%;
  margin-top: 20px;
  margin-left: 15px;
   color: #E58621;
}

#block{
    background:#33312F;
    margin-top:100px;
}
#form{
    top: 45%;
    left: 56.5%;
    position: fixed;
}
#block:before{
    content:'';
    display:block;
    width:230px;
    height:3px;
}
#block:after{
    left: 80%;
    content:'';
    display:block;
    width:15px;
    height:15px;
    background:#33312F;
    transform:rotate(-45deg);
    margin:10px 18px;
    margin-top: 0px;
    position:absolute;
}
#block label, #submit{
    position:absolute;
    width:33px;
    height:32px;
    background:#E58621;
    margin:15px;
    text-align:center;
    line-height:2.2;
    color:#857487;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
#block label#pass{
    position:absolute;
    width:33px;
    height:32px;
    background:#E58621;
    margin:-5px 15px;
}
#submit{
    border:0;
    margin:-29px 182px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    font-family:CoolveticaRg-Regular;
    background:#E58621;
    text-shadow:0 -1px 0 #333;
    box-shadow:-1px 0 1px 0px #6c5b6d;
    font-size:12px;
    line-height:2.8;
    padding:0;
}
#submit:hover{
    color:#33312F;
}
#user, #pass{
    box-shadow:0.1px 0 2px #6c5B6d;
}
#block input[type=email],#block  input[type=password], #option p {
    font-weight:300;
    padding-left:40px !important;
    -webkit-font-smoothing: antialiased;
}
#username{
    background-color: red;
}
#block input[type=email],#block  input[type=password]{
    width:156px;
    height:32px;
    margin:15px 15px;
    border:0;
    border-radius:2px;
    outline:0;
    display:block;
    font-size:18px;
    font-family: CoolveticaRg-Regular;
}
#block input[type=password]{
    width:156px;
    height:32px;
    margin:-5px 15px;
}
#submit{
    top: 88.5%;
    color:#857487;
    font-size:12px;
    font-family: CoolveticaRg-Regular;
}
#option{
    width:230px;
    height:80px;
    overflow:hidden;
    margin:auto;
}

#option a{
    -webkit-font-smoothing: antialiased;
    color:#33312F;
    /*text-shadow:0 -1px 0 #000;*/
    font-size:12px;
    display:block;
    float:right;
    margin:26px 15px;
}

#block:active > #block:before{
    background-position:100px 100px;
}

/* placeholder */
::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    color:#999;
    font-size:16px;
}
:-moz-input-placeholder {  
    color:#999;
    font-size:16px;
}

/* Want to see the magic ? So open a webkit browser then remove the comments below ! 

/!\ YOU NEED TO PLACE THIS IN INPUTS /!\

oninvalid="setCustomValidity('Custom Message')"
*/
/*
input::-webkit-validation-bubble-message {
    color:white;
    background: #e62163;
  border:0;
    border-radius:0;
    padding:0;
    width:55px;
    height:34px;
    position:absolute;
    float:left;
    margin:-33px 208px;
    text-align:center;
    line-height:2.7em;
    box-shadow:0 0 0;
}
input::-webkit-validation-bubble-message:before {
    content:"X";
    display:block;
    font-family:icon;
    color:white;
    background: #e62163;
  border:0;
    border-radius:0;
    padding:0;
    width:34px;
    height:34px;
    position:absolute;
    float:left;
    margin:0px -208px;
    text-align:center;
    line-height:2.7em;
    color: #fff;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    -webkit-font-smoothing: antialiased;

}
input::-webkit-validation-bubble-icon {
    display: none;
}
input::-webkit-validation-bubble-arrow {
    background: #e62163;
    border:0;
    width:10px;
    height:10px;
    position:absolute;
    margin:-23px 178px;
    }*/

    nav{

    }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      float: right;
      background: #eee;
      border-bottom: 1px solid #fff;
      border-radius: 3px;    
  }

  nav li {
      float: left;          
  }

  nav #login_responsive {
    border-right: 1px solid #ddd;
    box-shadow: 1px 0 0 #fff;  
    color: #3727B0;
}

#logged_in{
        visibility: hidden;
}
nav #login-trigger,
nav #signup a, nav #logout a, nav #logout_2 {

  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-family: CoolveticaRg-Regular;

  padding: 0 8px;
  text-decoration: none;
  color: #E58621;
  background:#33312F;
}

nav #signup a, nav #logout a {
  visibility: visible;
  border-radius: 0px 0px 3px 3px;
  opacity: 0.8;
}

nav #signup a:hover, nav #logout a:hover{
    background: black;
    opacity: 1.0;
}
nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login_responsive .active,
nav #signup a:hover, nav #logout a:hover  {
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #33312F;
  background-image: linear-gradient(top, #33312F, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 250px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
  font-family: CoolveticaRg-Regular;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #E58621;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login_responsive #actions {
  margin: 10px 0 0 0;
}

#login_responsive #submit_responsive {    
  background-color: #E58621;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #E58621;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  color: #fff;
  font-family: CoolveticaRg-Regular;
}

#login_responsive #submit_responsive:hover,
#login_responsive #submit_responsive:focus {    
  background-color: #FFA857;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login_responsive #submit_responsive:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login_responsive #submit_responsive::-moz-focus-inner {
  border: none;
}

#login_responsive label {
  float: right;
  line-height: 30px;
}

#login_responsive label input {
  position: relative;
  top: 2px;
  right: 2px;
}

@media screen and (max-width: 720px) {

#login_responsive{
    visibility: visible;
}
#twitter{
    visibility: hidden;
}
#form{
    visibility: hidden;
}

}