#open-popup {
    padding:20px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}

#img {
    vertical-align: middle;
}

#comment {
    vertical-align: middle;
}

#showcomments{
  height: 50px;
}

#commentbar {
  position: fixed;
  bottom:1px;
}

#commenttext {
  resize: none;
  vertical-align: middle;
  width: 380px;
  height: 50px;
}

#uploadimagecomment{
   width: 485px;
}

#commentbot {
  vertical-align: middle;
  width:  100px;
  height: 50px;
}
