#profile_page{
	position: absolute;
	left: 30%;
	top: 100px;
	display: inline;
	text-align: left;	
	margin: 0 auto;
	font-family:CoolveticaRg-Regular;
	border-bottom: 1px solid #aaa;	
	color: #33312F;

}

.head{
	border-bottom: 3px solid #E58621;	
	opacity: 0.9;
}
.profile_image {
	float:left;
	margin-top: 210px;
}

#profile_page h1{
	position: relative;
	margin-left: 35%;
	margin-top: 10px;
}

.vcard{
	background-color: #33312F;
	margin-left: 25%;
	margin-top: 16.5%;
	border-radius: 9px;
}

.vcard table{
	border-radius: 9px;
	display: table;
	margin-left: 0;
	padding-left: 2%;
	margin-top: 12%;
	text-align: right;	
	width: 100%;
}

.vcard tr td{
	padding-left: 6%;
	text-align: left;	
	font-size: 20px;
	color: #E58621;
	line-height: 160%;
	font-family:CoolveticaRg-Regular;
}

.vcard tr{
	margin: 0 auto;
}

tr .identifier{
	background-color:#1C1C1C;
}

tr .identifier_top{
	background-color:#1C1C1C;
	border-radius: 9px 0px 0px 0px;
}
tr .identifier_bottom{
	background-color:#1C1C1C;
	border-radius: 0px 0px 0px 9px;
}

table .editable a{
	border-bottom: 1px dashed #E58621;
	text-decoration: none;
	color: #E58621;
	cursor:pointer;
}

#confirmp{
	display: none;
}


.btn_send {
  padding-top: 2px;
  float: right;
  background: #33312f;
  border-radius: 12px;
  color: #e58621;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;

}

.btn_send:hover {
  background: #1c1c1c;
  text-decoration: none;
}

#vcard input[type="email"],
#vcard input[type="submit"],
#vcard input[type="password"] {
    box-sizing: border-box;
    clear: both;
    float: left;
    display: block;
    border: 1px solid #E58621;
    background: #33312F;
    margin: 6px 0;
    padding: 4px 10px;
    width: 70%;
    height: 34px;
    outline: 0;
    color: #E58621;
    font-size: 14px;
}
#vcard input[type=submit] {
    background: #33312F;
    color: #E58621;
    border: 0;
    border: 2px solid #E58621;
    margin: 10px 0 0;
}

#vcard input[type=email]:not([value*=" "]):active,
#vcard input[type=email]:not([value*=" "]):focus, 
#vcard input[type=password]:not([value*=" "]):active,
#vcard input[type=password]:not([value*=" "]):focus {
    /*box-shadow*/
    -webkit-box-shadow: inset 8px 0px 0  #E58621;
    -moz-box-shadow: inset 8px 0px 0  #E58621;
    box-shadow: inset 8px 0px 0  #E58621;

}
#vcard input[type=submit]:active,
#vcard input[type=submit]:focus {
    background: #E58621;
    color: #33312F;
    border: 0;
    position: relative;
    top: 1px;
    border-bottom: 1px solid;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #E58621;
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E58621;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E58621;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #E58621;
}

#vcard #edit1{
	display: none;
}
#vcard #edit2{
	display: none;
}