

#back {
	position: absolute;
	top: 9%;
	left: 29%;
}
#log {
	position: absolute;
	top: 12%;
	left: 22%;
}

#estadioimg {
visibility: visible;
}


#high {
	visibility: visible;
}

.posEstadio{
	position: absolute;
	top: 20%;
	left: 35%;
}

.posEstadio2{
	position: absolute;
	top: 20%;
	left: 35%;
	pointer-events: none;
}

.description{
	position: absolute;
	left: 80%;
	top: 60%;
}

#descriptions_flip{
	left: 0%;
}


#box{
	position: absolute;
	left: 40%;
	top: 5%;
}
.info_recinto > p{
	font-family: CoolveticaRg-Regular;
	font-size: 18px;
}

#recinto_titulo{
	font-family: CoolveticaRg-Regular;
	font-size: 50px;
	margin-top: 3.5%;
}



#calendar {
	position: absolute;
	left: 80%;
	top: 20%;	
	width: auto;
	height: auto;
}




@font-face {
	font-family: 'CoolveticaRg-Regular';
	src: url('CoolveticaRg-Regular.eot');
	src: url('CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),
	url('CoolveticaRg-Regular.woff') format('woff'),
	url('CoolveticaRg-Regular.ttf') format('truetype'),
	url('CoolveticaRg-Regular.svg#DearestRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media only screen and (max-width: 720px) {


	#recinto_titulo {
		font-size: 24px;
	}

	.info_recinto > p{
		font-size: 13px;
		line-height: 100%;
	}

	#log{
		top: 10%;
		left: 10%;
	}

	#back{
		top: 9%;
		left: 19%;
	}

	#calendar{
		left: 10%;
		top: 40%;
	}

}

.flip-container_inf{
  perspective: 1000;
  margin-left: 10%;
  margin-top: 20%;
  position: absolute;
}

.flip-container_inf:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container_inf, .front, .back {
  width: 220px;
  height: 280px;

}

