
#RecCont {
	width:600px;
    height:200px;
    position:absolute;
    left:45%;
    top:50%;
    margin:-100px 0 0 -150px;
}

#RecTitle {
	font-family: CoolveticaRg-Regular;
	font-size: 32px;
	margin-bottom: 3.5%;
}

#RecText{
	font-family: CoolveticaRg-Regular;
	font-size: 20px;
	margin-bottom: 3.5%;
}


#RecForm{
	color: #E58621;
	width: 500px;
	height: 35px;
	border-radius: 9px 9px 9px 9px;
	border-color: #33312F;
	padding-left: 10px;
}

#RecForm:focus, #RecBttn:focus{
    outline: none;
}

#RecBttn{
	background-color: #33312F;
	border-color: #33312F;
	color: #E58621;
	border-radius: 9px 9px 9px 9px;
}