#card {
    font-family: CoolveticaRg-Regular;
    width: 220px;
    margin: auto;
    margin-top: 120px;
}
#card h2 {
    font-size: 1.62em;
    color: #E58621;
    display: block;
    width: 100%;
    padding-bottom: .4em;
    margin-bottom: .6em;
    border-bottom: 2px solid #33312F;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 0 #33312F;
    -moz-box-shadow: 0 1px 0 #33312F;
    box-shadow: 0 1px 0 #33312F;
}


#card input[type="text"],
#card input[type="submit"],
#card input[type="password"] {
    box-sizing: border-box;
    clear: both;
    float: left;
    display: block;
    border: 1px solid #E58621;
    background: #33312F;
    margin: 6px 0;
    padding: 4px 10px;
    width: 100%;
    height: 34px;
    outline: 0;
    color: #E58621;
    font-size: 14px;
}
#card input[type=submit] {
    background: #33312F;
    color: #E58621;
    border: 0;
    border: 2px solid #E58621;
    margin: 10px 0 0;
}

#card input[type=text]:not([value*=" "]):active,
#card input[type=text]:not([value*=" "]):focus, 
#card input[type=password]:not([value*=" "]):active,
#card input[type=password]:not([value*=" "]):focus {
    /*box-shadow*/
    -webkit-box-shadow: inset 8px 0px 0  #E58621;
    -moz-box-shadow: inset 8px 0px 0  #E58621;
    box-shadow: inset 8px 0px 0  #E58621;

}
#card input[type=submit]:active,
#card input[type=submit]:focus {
    background: #E58621;
    color: #33312F;
    border: 0;
    position: relative;
    top: 1px;
    border-bottom: 1px solid;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #E58621;
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E58621;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E58621;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #E58621;
}