// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url("background.png"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#notavailable{
  position: absolute;
  left: 97%;
  top: 19.5%;
  display: none;
}

#fcp{
  background-image: image-url("fundo_fcp.png"); 
}
#auditorio{
  background-image: image-url("fundo_feup.png"); 
}

#comment{
  background-image: image-url("comment_back.png"); 
}
#bodyadmin{
  background-image: image-url("cinza.png"); 
}
ul {
  list-style-type: none;
}

li {
  text-align: center;
  
}
@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

#logo:hover,#logo:focus{
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#logo {
 position: absolute;
 top: 20%;
 left: 25%;
}
/*-----------------------------------------KONAMI CODE------------------------------------------*/
#konami {
 position: absolute;

}
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  margin-left: 35%;
  margin-top: 8%;
  position: absolute;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 420px;
  height: 480px;

}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  color: #33312F;
  font-family:CoolveticaRg-Regular;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 190%;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
/*.--------------------------------------------------------------------------------------*/
#mainmenu {
 position: absolute;
 top: 27%;
 left: 55%;
}

#fms{
  position: absolute;
  top: 80%;
  left: 64%;
}

#face {
  position: absolute;
  top: 80%;
  left: 76%;
}

#twitter {
  position: absolute;
  top: 80%;
  left: 70%;
}

#gmail {
  position: absolute;
  top: 80%;
  left: 82%;
}


.titulosmenu {
 font-size: 54px;
 font-family:CoolveticaRg-Regular;
 padding-top: 50px;
}
.titulosmenu a{
 text-decoration: none !important;
 color: #33312F;
 transition: color 0.2s linear; /* vendorless fallback */
 -o-transition: color 0.2s linear; /* opera */
 -ms-transition: color 0.2s linear; /* IE 10 */
 -moz-transition: color 0.2s linear; /* Firefox */
 -webkit-transition: color 0.2s linear; /*safari and chrome */
}

.titulosmenu a:hover{
 text-decoration: none !important;
 color: #E58621;
 cursor:pointer;
 transition:color .2s;
 -webkit-transition:color .2s;
}




div.highlight {
  color: #E58621;
  cursor:pointer;
  transition:color .3s;
  -webkit-transition:color .3s;
}

div.underhighlight {
  color: #FFDAB9;
  cursor:pointer;
  transition:color .3s;
  -webkit-transition:color .3s;
}

div.lowlight {
  color: #33312F;
  cursor:pointer;
  transition:color .3s;
  -webkit-transition:color .3s;
}

@media only screen and (max-width: 720px) {


 .titulosmenu {
  font-size: 24px;
  padding-top: 10px;
}
.erb-image-wrapper img{
  max-width:100% !important;
  height:auto;
  display:block;
}

}

/*-----------------------------------404 deign ----------------------------------------*/

@font-face {
  font-family: 'CoolveticaRg-Regular';
  src: url('CoolveticaRg-Regular.eot');
  src: url('CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),
  url('CoolveticaRg-Regular.woff') format('woff'),
  url('CoolveticaRg-Regular.ttf') format('truetype'),
  url('CoolveticaRg-Regular.svg#DearestRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.dialog{
  margin-top:  10%;
  text-align: center;
  color: #CD3131;
  font-family:CoolveticaRg-Regular;
}

div.dialog h1{
  margin-left: 28%;
  padding-bottom: 5%;
  border-bottom: 3px solid;
  width: 45%;
}

#four0four{
  background-image: image-url("404.png"); 
}

/*----------------------------------------------------------------------------------------*/

@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

#flash_alert, #flash_error{
  width: 50%;
  padding-left: 1%;
  padding-top: 1%;
  font-family:CoolveticaRg-Regular;
  font-size: 20px;
  color: #CD3131;
  opacity: 0;
  -webkit-animation: flickerAnimation 5s 1;
  -moz-animation: flickerAnimation 5s 1;
  -o-animation: flickerAnimation 5s 1;
  animation: flickerAnimation 5s 1;
}

#flash_notice{
  width: 50%;
  padding-left: 1%;
  padding-top: 1%;
  font-family:CoolveticaRg-Regular;
  font-size: 20px;
  color: #003300;
  opacity: 0;
  -webkit-animation: flickerAnimation 5s 1;
  -moz-animation: flickerAnimation 5s 1;
  -o-animation: flickerAnimation 5s 1;
  animation: flickerAnimation 5s 1;
}



