<!DOCTYPE html>
<html>
<head>
	<title>Find Your Spot</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<link rel="shortcut icon" href="../assets/logo.ico">
</head>


<body>

	<% if !current_page?('/comentarios') %>
	<% if user_signed_in? %>
	<nav>
		<ul>		
			<li id="logout">
				<%= link_to 'Sign out', destroy_user_session_path, :id => 'logout_1' %>
			</li> 
			<% if (current_page?(edit_user_registration_path))  %>
			<% else %>
			<li id="logout" class="profile_button"> 
				<%= link_to 'Profile', edit_user_registration_path, :id => 'logout_2' %> 
			</li> 
			<li id="logout" class="profile_button"> 
				<%= link_to "Admin Area" , {:action => "general", :controller => "admin"}, :id => 'logout_3' if admin? %>
			</li> 
			<% end %>
		</ul>
	</nav>
	<% else %>
	<nav id="logged_in">
		<ul>
			<li id="login_responsive">
				<a id="login-trigger" href="#">
					Log in <span>▼</span>
				</a>
				<div id="login-content">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<fieldset id="inputs">			
						<%= f.email_field :email, autofocus: true , :type=> 'email', :placeholder=>'Email' %>  
						<%= f.password_field :password, autocomplete: "off" , :type=> 'password', :placeholder=>'Password'%>
					</fieldset>
					<fieldset id="actions">
						<%= f.submit "GO" , :id=>'submit_responsive', :name=>'submit', :type=> 'submit', :class => 'btn btn-primary' %>
					</fieldset>
				</div>
				<% end %>
			</li>
			<% if (current_page?( new_user_registration_path))  %>
			<% else %>
			<li id="signup">
				<%= link_to "Sign up", new_user_registration_path, :id => 'logout_4'  %>
			</li>
			<% end %>
		</ul>
	</nav>
	<% end %>
	<% end %>
	<%= yield %>

	<script src="../assets/javascripts/popup.js"></script>
	<script src="../assets/javascripts/jquery.eventCalendar.js"></script>
	<script src="../assets/javascripts/moment.js"></script>
	<script src="../assets/javascripts/imageMapResizer.min.js"></script>

</body>
</html>
